.filters{
    margin: 20px;
    background-color: #3B5683;
    padding: 10px;
    border-radius: 8px;
    font-family: 'Poppins';
    box-shadow: 2px 2px 4px 1px #3B5683;
    color: #BFC0C0;
}

.categories {
    padding: 5px;
    margin: 5px;
    font-family: 'Poppins';
}

.rangeOfPrice {
    margin: 5px; 
}
   
.categories {
    background-color: #130D29;
}
.categories option {
    color: #BFC0C0;
}
