.footer {
    position: fixed;
    left: 30px;
    bottom: 16px;
    text-align: center;
    background: #130D29;
    padding: 15px 24px;
    border-radius: 32px;
    opacity: .8;
    backdrop-filter: blur(10px);
  }
  
  .footer span {
    font-size: 14px;
    color: #3B5683;
    opacity: .8;
  }
  
  .footer h4, .footer h5 {
    margin: 0;
    display: flex;
  }