@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3B5683; 
    box-shadow: 0 5px 6px -2px #130D29;
    height: 100px; 
    position: fixed;    
    width: 100%; 
    padding: 0 20px;
    z-index: 5; 
  
    @media (max-width: 768px) {
      flex-direction: row;
      justify-content: center;
      padding: 3px;
      text-align: center;
    }
  }
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 100px; 
    height: auto;
    margin-left: 20px; /* Espaciado entre el logo y el título */
  }
  
  .title {
    margin: 0;
    flex: 1; /* Toma el espacio restante */
    text-align: center; /* Centra el texto */
    color: #BFC0C0;
  }
  .first-title {
    font-family: 'Playfair Display';
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }
  .second-title {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 15px;
    margin: 0;
    flex: 1; /* Toma el espacio restante */
    text-align: center; /* Centra el texto */
    color: #BFC0C0;
    letter-spacing: 0.2rem;
  }
  
  .socialicons {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 4rem;
    margin-right: 30px;
    cursor: pointer;
  }
  
  /* Ajustes para dispositivos móviles */
  @media (max-width: 768px) {
    .socialicons {
      margin-top: 15px;
      flex-direction: column;
      align-items: right;
      width: 2rem;
    }
    .title{
      padding: 10px;
    }
    .first-title{
      font-size: 1rem;
    }
    .second-title {
      font-size: 0.8rem;
    }
  }
  @media (max-width: 450px) {
    .title {
      display: none;
    }
  }
  