
body {
  /* background: linear-gradient(#eee, #c9c9c9); */
  background-attachment: fixed;
}

.container-cronogr {
  margin: 0 auto;
  padding: 1em 0;
  background-image: url("https://res.cloudinary.com/dsbekpj9h/image/upload/v1703019382/Brazilian%20Hair/lacio_1_mg6eyl.jpg");
  background-size: cover;
  width: 100%;
  height: 500px;
}

.text-box {
  text-align: center;
  font-family: 'Poppins';
  color: #E9BABC;
  padding: 1em;
  text-shadow: 2px 2px 2px #000000;
}

.hover-text {
  position: relative;
  top: 5px;
  margin: 0 auto;
  text-align: center;
  width: 90%;
  transition: transform 300ms ease-in-out;
  transition: 600ms ease-in-out;
}

.text-box h3 {
  margin: 0 auto;
  font-family: 'Poppins';
  font-size: 2rem;
  text-shadow: 2px 2px 4px #000000 ;
  color: #BFC0C0;
  display: block;
  padding: 1em;
}

.hover-text:hover {
  background: rgba(51,51,51,0.8);
  transform: scale(1.1, 1.1);
  border: 2px #BFC0C0 solid;
}