
body {
  background-attachment: fixed;
}

.container-cronogr {
  margin: 100px auto;
  padding: 1em 0;
  position: relative;
  width: 100%;
  height: auto;
  box-shadow: 0 5px 6px 0px #130D29;
}

.container-cronogr::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("https://res.cloudinary.com/dsbekpj9h/image/upload/v1703019382/Brazilian%20Hair/lacio_1_mg6eyl.jpg");
  background-size: cover;
  filter: brightness(50%); 
  z-index: -1; 
  background-attachment: fixed;
}

.text-box {
  /* text-align: center; */
  font-family: 'Poppins';
  color: #130D29;
  padding: 1em;
  font-weight: 600;
}

.hover-text {
  position: relative;
  top: 5px;
  left: 5px;
  margin: 0 auto;
  text-align: left;
  padding: 3px;
  width: 90%;
  transition: transform 300ms ease-in-out;
  transition: 600ms ease-in-out;
  text-shadow: 1px 1px 1px #3B5683 ;
}

.text-box h3 {
  margin: 0 auto;
  font-family: 'Poppins';
  font-size: 2rem;
  text-shadow: 1px 1px 1px #3B5683 ;
  color: #130D29;
  display: block;
  padding: 1em;
}

.hover-text:hover {
  background: rgba(191, 192, 192, 0.5);
  transform: scale(1.1, 1.1);
  border-radius: 1em;
  padding: 1em; 
  /* border: 2px #BFC0C0 solid; */
}